@charset "utf-8";
@import url(normalize.css);
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    background-image:url(img/ff80fc41ef7859816ca1e0e21265.jpg);
    background-repeat: repeat-x; 
    background-size: 100px 376px;  
} 

h1{ 
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    color: rgb(252, 249, 249);
    font-size: 300%;
    text-align: center;
    line-height: 1.5;
}
h2{
    width: 20px;
    margin: 60  auto;
    padding: 5px 800px;
    border: 5px solid #98dbbd;
    background-color: #0a0b0b;
    color: #fff;
}
main{
        background-color: rgb(255, 252, 252);
        width: 80%;
        margin: 0px auto;
        padding: 40px 80px;
       
    }
 


.round{
    border-radius: 50%;
}
h1,header,nav,footer{
    text-align: center;
}
.div_text_shadow
{
text-shadow: 2px 2px 3px #ffffff;    
}
.img-round{
    border-radius: 50%;
}
section + section{
    margin-top: 80px;
}
a{
    color:#df4839;
}
a:hover{
    color: #ff705b;
    text-decoration: none; 
}
.menu li{
    width: 800px;
    list-style-type: none;
    display:inline-block;
    width: 180px;
    margin:0 10px;
}
.menu a{
    display:block;
    padding: 10px;
    background: #000000;
    border-radius: 8px;
    color:#fff;
    text-decoration: none;
}
.menu a:hover{
    background: #cd0000;
}
.imgL{
    float: left;
    margin-right: 20px;
}
.imgR{
    float: right;
    margin-left: 20px;
}
.clear{
    clear: both;
}
.clearfix::after{
    content:"";
    display: block;
    clear:both;
    
}
.more{
    text-align: right;
}
.more::after{
    content: url(img/ico_arrow.png);
    margin-left: 3px;
    vertical-align: middle;
}
.h{
    border-radius: 5px 0 0 5px;    
}

.h-sub{
    padding: 10px;
    background-color: #ffffff;
    color: #010101;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ffd0ad inset; 
}